.git
.gitignore
.env
.venv
__pycache__
*.py[cod]
*.so
.pytest_cache
.ruff_cache
build/
dist/
*.egg-info
data/
temp/
*.db
*.sqlite
*.sqlite3
*.mp4
*.mkv
*.webm
*.part
*.ytdl
.idea/
.vscode/
.DS_Store
*.pdf
cookies/
